@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/_Layoutcontact.cshtml";
}


<div class="container">
    
    <div class="left-w3">
        <h2>Contacter nous!</h2>
        <form action="#" method="post">
            <div class="agile1">
                <h3>Nom</h3>
                <input type="text" name="name" class="name" placeholder="" required="">
            </div>
            <div class="agile1">
                <h3>Compangnie</h3>
                <input type="text" name="company" class="company" placeholder="" required="">
            </div>
            <div class="agile1">
                <h3>Telephone</h3>
                <input type="text" name="telephone" class="telephone" placeholder="" required="">
            </div>
            <div class="agile1">
                <h3>Email</h3>
                <input type="text" name="email" class="email" placeholder="" required="">
            </div>
            <div class="agile1">
                <h3>Message</h3>
                <textarea name="your message" placeholder="" required=""></textarea>
            </div>
            <input type="submit" value="Envoyer Message">
        </form>
    </div>
    <div class="right-w3ls">
        
        <h3 class="w3ls">Notre Location</h3>
        <div class="agile1">
            <h3>Reach Us</h3>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555"></iframe>
            </div>
        </div>
        <h3 class="w3ls">Rester en Contact</h3>
        <div class="agile1">
            <h3>Social Icons</h3>
            <div class="socialicons w3">
                <ul>
                    <li><a class="facebook" href="#"></a></li>
                    <li><a class="twitter" href="#"></a></li>
                    <li><a class="google" href="#"></a></li>
                    <li><a class="pinterest" href="#"></a></li>
                    <li><a class="linkedin" href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-w3l">
            <p class="agileinfo"> &copy; 2021 Contact Form . All Rights Reserved</p>
        </div>
    </div>
    <div class="clear"></div>
</div>